tgcrypto
asyncio
ffmpeg-python
git+https://github.com/LGCY-NAVYA/LGCY-NAVYA/settings@master
pyrogram
youtube-search-python
git+https://github.com/LGCY-NAVYA/NAVYA-LGCY@master
git+https://github.com/LGCY-NAVYA/Navya-Op@master
youtube-search
git+https://github.com/LGCY-NAVYA/NAVYA-LGCY@master
python-dotenv
dnspython
gitpython
aiofiles
aiohttp
requests
pillow
heroku3
motor
psutil
future
wget
